@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

span {
  display: block;
}

.line {
  background-color: lightgray;
  display: block;
  width: 100px;
  height: 5px;
}

.round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
}

.line-blue {
  background-color: rgb(125, 125, 237);
  transform-origin: 0%;
  transform: scaleX(0);
  transition: 0.7s transform ease-in;
}

.round-blue {
  border-color: rgb(125, 125, 237);
  opacity: 0;
  transition: 0.7s opacity ease-in 0.7s;
}

.container-buttons {
  display: flex;
  margin-top: 200px;
}

button {
  border: transparent;
  padding: 10px 20px;
  background-color: rgb(125, 125, 237);
  color: #fff;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
}

button:disabled {
  background-color: lightgray;
}
